/* DO NOT MAKE ANY CHANGES, NOTIFY NIYO NALANG AKO PAG MAY GUSTO KAYONG I CORRECT */

a{
    text-decoration: none;
}

body{
    background-color: #731b83;
    color: #DFBDFF;
    margin: auto;
    font-family: Helvetica;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 16px;
}

.title{
    margin: 20px;
    padding: 10px;
    text-align: center;
    
}

.menu{
    padding: 10px;
    text-decoration: none;
    color: #731b83;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

.header{
    background-color: #f585ff;
    color: white;
    padding: 10px;
}

.footer{
    background-color: #230D2B;
    font-size: 12px;
    font-size: small;
    padding: 50px;
    margin: auto;
}

.contentCard, .textContent{
    text-align: left;
    background-color: #ffe070;
    padding: 30px;
    color: #731b83;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
}

.contentText{
    padding-left: 20px;

}

.contentTitle{
    font-size: 30px;
}

.contentButton{
    background-color: #731b83;
    font-size: 18px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffe070;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 5px;
}

.banner{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    margin: auto;
}

img{
    border-radius: 20px;
}

.profile{
    padding-right: 50px;
}

.footerLinks{
    color: #DFBDFF;
}

.homecard{
    margin: 35px;
    padding: 60px;
    background-color: #ffe070;
    border-radius: 20px;
    color: #731b83;
}

.homenews{
    padding: 40px;
    background-color: #ffe070;
    color: #731b83;
    text-align: justify;
    width: auto;
}

.homeCardItem{
    padding-right: 60px;
    padding-top: 20px;
    font-size: 22px;
}

.newsitem{
    padding-right: 20px;
}

.homeannounce{
    text-align: right;
    padding: 40px;
    color: #ffe070;
}

.announceitem{
    padding-right: 50px;
    padding-left: 50px;
}

.announceitemdate{
    text-align: left;
}