/* BANIH, Francis / CORALES, Dion Mark / NAVA, Patrick || BSIT-2C */

a{
    text-decoration: none;
    color: #DFBDFF;
}

body{
    background-color: #731b83;
    color: #DFBDFF;
    margin: auto;
    font-family: Helvetica;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}


.title{
    color: #DFBDFF;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.menu{
    padding: 10px;
    text-decoration: none;
    color: #731b83;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menuTitle{
    padding: 10px;
    text-decoration: none;
    color: #731b83;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu:hover{
    background-color: #731b83;
    color: #f585ff;
    border-radius: 10px;
}

.header{
    background-color: #f585ff;
    color: white;
    padding: 10px;
}

.footer{
    background-color: #230D2B;
    font-size: 12px;
    font-size: small;
    padding: 50px;
    margin: auto;
}

.contentCard, .textContent{
    text-align: left;
    background-color: #ffe070;
    padding: 30px;
    color: #731b83;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1000px;
}

.contentText{
    padding-left: 20px;

}

.contentTitle{
    font-size: 30px;
}

.contentButton{
    background-color: #731b83;
    font-size: 18px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffe070;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 5px;
}

.contentButton:hover{
    background-color: #230D2B;
    color: #ffe070;
}

.banner{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.bannerdiv{
    margin: 50px;
}

img{
    border-radius: 20px;
}

.profile{
    padding-right: 50px;
}

.footerLinks{
    color: #DFBDFF;
}

.homecard{
    margin: 35px;
    padding: 60px;
    background-color: #ffe070;
    border-radius: 20px;
    color: #731b83;
}

.homenews{
    padding: 40px;
    background-color: #ffe070;
    color: #731b83;
    text-align: justify;
    height: auto;
    width: auto;
}

.homeCardItem{
    padding-right: 60px;
    padding-top: 20px;
    font-size: 22px;
    color: #731b83;
}

.subTitle{
    color: #731b83;
}

.newsitem{
    padding-right: 10px;
}

.homeannounce{
    text-align: right;
    padding: 40px;
    color: #ffe070;
}

.announceitem{
    padding-right: 50px;
    padding-left: 50px;
}

.announceitemdate{
    text-align: left;
}

.keyPoint{
    padding: 50px;
    background-color: #230D2B;
    margin: 30px;
    color:#f585ff;
    border-radius: 20px;
}

.newsTitle{
    color: #ffe070;
    padding: 20px;
    margin: 20px;
}

.newsMedia{
    margin: 20px;
    padding: 30px;
}

.newsContent{
    text-align: justify;
    margin: 40px;
    padding: 10px;
}

.yellowButton{
    background-color: #ffe070;
    font-size: 18px;
    padding: 10px;
    color: #731b83;
    text-decoration: none;
    border-radius: 10px;
    margin: 40px;
}

.yellowButton:hover{
    background-color: #230D2B;
    color: #ffe070;
}


.pageBackButtonContainer{
    padding: 5px;
    margin-top: 30px;
}
