/* DO NOT MAKE ANY CHANGES, NOTIFY NIYO NALANG AKO PAG MAY GUSTO KAYONG I CORRECT */

a{
    text-decoration: none;
}

body{
    background-color: #731b83;
    color: #DFBDFF;
    margin: auto;
    font-family: Helvetica;
}

h1{
    font-size: 50px;
}

.title{
    margin: 20px;
    padding: 10px;
    text-align: center;
    
}

.menu{
    padding: 10px;
    text-decoration: none;
    color: #731b83;
    text-align: center;
    padding-left: 40px;

}

.header{
    background-color: #f585ff;
    color: white;
    padding: 10px;
}

.footer{
    background-color: #230D2B;
    font-size: 12px;
    font-size: small;
    padding: 50px;
    margin: auto;
}

.contentCard, .textContent{
    margin: 60px;
    background-color: #ffe070;
    padding: 30px;
    color: #731b83;
    border-radius: 20px;
}

.contentTitle{
    font-size: 30px;
}

.contentButton{
    text-align: right;
    background-color: #731b83;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffe070;
    text-decoration: none;
    border-radius: 10px;
}

img{
    border-radius: 20px;
}

.footerLinks{
    color: #DFBDFF;
}
