body{
    background-color: #731b83;
    color: #DFBDFF;
    margin: auto;
    font-family: Helvetica;
}

h1{
    font-size: 50px;
}

.title{
    margin: 20px;
    padding: 10px;
    
}

.menu{
    padding: 5px;

}

.header{
    background-color: #f585ff;
    color: white;
    padding: 10px;

}

.contentCard{
    background-color: #ffe070;
    color: #731b83;
    padding: 30px;
    
}

.tableCard{
    margin: auto;
}

.cardItem{
    padding: 4%;
}

.footer{
    background-color: #230D2B;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

input[type="button"]{
    padding: 30px;
    margin: 30px;
    background-color: #f585ff;
    font-family: Helvetica;
    font-size: 20px;
    text-align: left;
}
